<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><br><br>
            <h6>Unidad de Gestión Educativa Local N° 12 - CANTA</h6>
            <p>Atención:</p>
            <p>Lunes a Jueves : 08:00 am a 12:30 pm / 01.45 pm a 05:35 pm</p>
            <p>Viernes : 08:00 am a 12:30 m / 01.45 pm a 04:00 pm</p>
            <!-- Rights-->
          </div>
        </div>
        <div class="col-md-4 ">
          <br>
          <h5>Contactanos</h5>
          <dl class="contact-list">
            <dt>Dirección: </dt>
            <dd>Plaza de Armas S/N - Canta</dd>
          </dl>
          <dl class="contact-list">
            <dt>Correo Electrónico:</dt>
            <dd><a href="mailto:#">contacto@ugel12canta.gob.pe</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>Telefono:</dt>
            <dd><a href="tel:#">(01) 507-0410</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
            <br>
            <p>Si desea hacer algún comentario o queja puede usar nuestro Libro de Reclamaciones Virtual:</p>
            <img src="assets/img/RECLAMA.jpg">
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>Yootube</span></a></div>
    </div>
  </footer>
