<nav class=" navbar navbar-expand-lg colorbackground">
    <div class="container">
      <a class="navbar-brand" href="#">UGEL 12</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
              {{titulo1[0]}}
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a ngbDropdownItem routerLink='about' (click)="$event.preventDefault()">Bienvenido</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Visión y Misión</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Organigrama</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Funciones</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Directorio institucional</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Directorio ielefonico</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Directorio instituciones Educativas</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Jurisdicción</a>
            </div>
          </li>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
              {{titulo1[1]}}
              </a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Direccion</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Control</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Asesoramiento</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Apoyo</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Linea</a>            
              </div>
          </li>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
              {{titulo1[2]}}
              </a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Noticias</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Normas</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Directivas</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Resolucion</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Documentos generales</a>            
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Avisos tesoreria</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">FUT</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Evaluacion docente </a> 
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">TUPA</a>
              </div>
          </li>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
              {{titulo1[3]}}
              </a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Registro Nacional de servidores sancionados</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Transparencia y acceso a la informacion publica</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Agenda de actividades</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Contactanos</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Libro reclamos</a>   
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Convocatoria CAS-CAP-DOCENTE</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Galerias(Fotos, videos)</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Evaluacion Docente </a> 
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Buzon de sugerencias</a>        
              </div>
          </li>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
              {{titulo1[4]}}
              </a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Registro Nacional de servidores sancionados</a>            
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  